{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
			{% if success %}
			<div class="alert alert-success" role="alert">{{success}}!</div>
			{% endif %}
	{% for post in posts %}
		<div class="row">
			<div class="col-md-12">
				<a href="/{{post.key().id()}}"><h2>{{post.subject}}</h2></a>
				<p class="small">by {{post.user.username}} on {{post.created.strftime("%A, %d. %B %Y %I:%M%p")}}</p>
			</div>
			<div class="col-md-12 post-body">
			<hr>
			    {{post.content.replace('\n', '<br>')|safe}}
				<br>
				{% if (post.updated - post.created).total_seconds() > 30 %}
				<p class="small"><strong>Last Update on:</strong> {{post.updated.strftime("%A, %d. %B %Y %I:%M%p")}}<br></p>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 post-footer">
			<div class="btn-group btn-group-xs" role="group">
				<button class="btn btn-primary btn-xs collapsed btn-colps" type="button" data-toggle="collapse" data-target="#c{{post.key()}}"">Comments <span class="badge">{{post.comments.count()}}</span>
				</button>
				<button class="btn btn-primary btn-xs">Likes <span class="badge">{{post.likes.count()}}</span></button>
				</div>
				<a href="/{{post.key().id()}}" class="btn btn-primary btn-xs" role="button">Post a comment</a>
				{% if user and post.user.key() != user.key() %}
					{% if not post.likes.filter('user =', user.key()).get() %}
				 <a href="/{{post.key().id()}}?like=true" class="btn btn-primary btn-xs" role="button">Like</a>
					{% endif %} 	
				{% endif %}
			</div>
		</div>
		<div class="row collapse" id="c{{post.key()}}">
			<div class="col-md-11 col-md-offset-1">
			{% for comment in post.comments %}
				<h4>{{comment.user.username}}<small> on {{comment.created.strftime("%A, %d. %B %Y %I:%M%p")}}</small></h4>
	          	<p class="small">{{comment.content}}</p>
	          	<br>
			{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}