{% extends "base.html" %}
{% block content %}
			
					<form class="form-horizontal" method="post">
						<fieldset>
							<legend>Edit Post</legend>

							<div class="form-group">
							  <label class="col-md-10 col-md-offset-1" for="textinput">Headline:</label>  
							  <div class="col-md-10 col-md-offset-1">
							  	<input name="subject" type="text" placeholder="" class="form-control input-md" required="" value="{{subject}}">
							  </div>
							</div>

							<div class="form-group">
							  <label class="col-md-10 col-md-offset-1" for="textarea">Content:</label>
							  <div class="col-md-10 col-md-offset-1">                     
							    <textarea class="form-control" id="textarea" name="content" required="">{{content}}</textarea>
							  </div>
							</div>

							<div class="form-group">
							  <div class="col-md-10 col-md-offset-1 text-center">
							  	<button type="submit" class="btn btn-default">Save</button>
							    <button type="button" name="cancel" class="btn btn-default">Cancel</button>
							  </div>
							</div>
						</fieldset>
					</form>
{% endblock %}