{% extends "base.html" %}
{% block content %}
			<div class="row">
					<div class="col-md-12 content-center">
						{% if ERROR %}
						<div class="alert alert-danger" role="alert">{{ERROR}}</div>
						{% endif %}
						<form class="frm-center" method="post">
					      <h2>Login</h2>
					      <table>
					        <tr>
					          <td>
					            Username
					          </td>
					          <td>
					            <input type="text" name="username">
					          </td>
					        </tr>
					        <tr>
					          <td>
					            Password
					          </td>
					          <td>
					            <input type="password" name="password">
					          </td>
					        </tr>
					      </table>
					      <br>
					      <input type="submit" value="Login">
					    </form>
					</div>
			</div>
{% endblock %}