{% extends "base.html" %}
{% block content %}
				{% if USER_ERR or PASS_ERR or VERIFY_ERR or EMAIL_ERR %}
				<div class="alert alert-danger" role="alert">Ops, something is not correct! Please check!</div>
				{% endif %}
					<form class="form-horizontal" method="post">
						<fieldset>
							<legend>Signup</legend>
							<div class="form-group">
							  <label class="col-md-4 control-label" for="textinput">Username:</label>  
							  <div class="col-md-4">
							  	<input name="username" type="text" class="form-control input-md" value="{{username}}" required>
							  	{% if USER_ERR %}
							  	<span class="help-block error">{{USER_ERR}}</span>
							  	{% endif %}
							  </div>
							</div>
							<div class="form-group">
							  <label class="col-md-4 control-label" for="password">Password:</label>
							  <div class="col-md-4">
							    <input name="password" type="password" class="form-control input-md" required>
							    {% if PASS_ERR %}
							    <span class="help-block error">{{PASS_ERR}}</span>
							    {% endif %}
							  </div>
							</div>
							<div class="form-group">
							  <label class="col-md-4 control-label" for="password">Retype Password:</label>
							  <div class="col-md-4">
							    <input name="verify" type="password" class="form-control input-md" required>
							    {% if VERIFY_ERR %}
							    <span class="help-block error">{{VERIFY_ERR}}</span>
							    {% endif %}
							  </div>
							</div>
							<div class="form-group">
							  <label class="col-md-4 control-label" for="textinput">Email (optional):</label>  
							  <div class="col-md-4">
							  	<input name="email" type="text" class="form-control input-md" value="{{email}}">
							    {% if EMAIL_ERR %}
							  	<span class="help-block error">{{EMAIL_ERR}}</span>
							  	{% endif %}
							  </div>
							</div>
							<div class="form-group">
							  <div class="col-md-4 col-md-offset-4">
							    <button type="submit" class="btn btn-default">Signup!</button>
							    <p>Already have an account? Login <a href="/login">here</a>!</p>
							  </div>
							</div>
						</fieldset>
					</form>
{% endblock %}