body {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	padding-top: 50px;
}

footer {
	color: #ccc;
	background-color: #222;
	padding-top: 25px;
	padding-bottom: 10px;
}

footer a {
	color: #3cb5d0;
}

.error {
	color: #f00;
}

.post-body {
	padding-top: 10px;
}

.post-footer {
	padding-top: 10px;
	margin-bottom: 20px;
}

.btn-colps:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
 }

.btn-colps.collapsed:after {
    content: "\e080";
 }
