body {
	font-family: "Raleway", sans-serif;
	color: #7d97ad;
	font-weight: 300;
}

footer {
	color: #ccc;
	background-color: #222;
}

footer p {
	margin: 20px;
}


footer a {
	color: #3cb5d0;
}

hr {
	border-top: 3px solid #7d97ad;
}

.logo {
	margin-top: 20px;
}

.feat-image {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	margin: 20px 0;
}

@media screen and (max-width: 480px) {
	/* removed for review
	#banner {
		display: none;
	}*/

	#footer {
		margin-left: -20px;
		margin-right: -20px;
	}
}